import { Title } from './style';

export interface I{{pascalCase name}} {
  sample{{pascalCase name}}Prop: string;
}

const {{pascalCase name}} = ({ sample{{pascalCase name}}Prop }: I{{pascalCase name}}) => (
  <Title>{sample{{pascalCase name}}Prop}</Title>
);

export default {{pascalCase name}};
